.nav {
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav a { 
    color: $secondary-color; 
    font-size: 1.5vw;
}

.nav a:hover, .nav a:focus { color: $primary-color; }

.nav a img {
    width: 3vw;
}